.magic-grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);

  & > * {
    box-sizing: border-box;
  }
}

.grid-1 {
  grid-column: span 1;
}
.grid-2 {
  grid-column: span 2;
}
.grid-3 {
  grid-column: span 3;
}
.grid-4 {
  grid-column: span 4;
}
.grid-5 {
  grid-column: span 5;
}
.grid-6 {
  grid-column: span 6;
}
.grid-7 {
  grid-column: span 7;
}
.grid-8 {
  grid-column: span 8;
}
.grid-9 {
  grid-column: span 9;
}
.grid-10 {
  grid-column: span 10;
}
.grid-11 {
  grid-column: span 11;
}
.grid-12 {
  grid-column: span 12;
}

@media only screen and (width <= 576px) {
  [class*='grid-s-'] {
    grid-column: span 12;
  }
  .grid-s-1 {
    grid-column: span 1;
  }
  .grid-s-2 {
    grid-column: span 2;
  }
  .grid-s-3 {
    grid-column: span 3;
  }
  .grid-s-4 {
    grid-column: span 4;
  }
  .grid-s-5 {
    grid-column: span 5;
  }
  .grid-s-6 {
    grid-column: span 6;
  }
  .grid-s-7 {
    grid-column: span 7;
  }
  .grid-s-8 {
    grid-column: span 8;
  }
  .grid-s-9 {
    grid-column: span 9;
  }
  .grid-s-10 {
    grid-column: span 10;
  }
  .grid-s-11 {
    grid-column: span 11;
  }
  .grid-s-12 {
    grid-column: span 12;
  }
}

@media only screen and (width > 576px) and (width <= 768px) {
  [class*='grid-m-'] {
    grid-column: span 12;
  }
  .grid-m-1 {
    grid-column: span 1;
  }
  .grid-m-2 {
    grid-column: span 2;
  }
  .grid-m-3 {
    grid-column: span 3;
  }
  .grid-m-4 {
    grid-column: span 4;
  }
  .grid-m-5 {
    grid-column: span 5;
  }
  .grid-m-6 {
    grid-column: span 6;
  }
  .grid-m-7 {
    grid-column: span 7;
  }
  .grid-m-8 {
    grid-column: span 8;
  }
  .grid-m-9 {
    grid-column: span 9;
  }
  .grid-m-10 {
    grid-column: span 10;
  }
  .grid-m-11 {
    grid-column: span 11;
  }
  .grid-m-12 {
    grid-column: span 12;
  }
}

@media only screen and (width > 768px) and (width <= 992px) {
  [class*='grid-l-'] {
    grid-column: span 12;
  }
  .grid-l-1 {
    grid-column: span 1;
  }
  .grid-l-2 {
    grid-column: span 2;
  }
  .grid-l-3 {
    grid-column: span 3;
  }
  .grid-l-4 {
    grid-column: span 4;
  }
  .grid-l-5 {
    grid-column: span 5;
  }
  .grid-l-6 {
    grid-column: span 6;
  }
  .grid-l-7 {
    grid-column: span 7;
  }
  .grid-l-8 {
    grid-column: span 8;
  }
  .grid-l-9 {
    grid-column: span 9;
  }
  .grid-l-10 {
    grid-column: span 10;
  }
  .grid-l-11 {
    grid-column: span 11;
  }
  .grid-l-12 {
    grid-column: span 12;
  }
}

@media only screen and (width > 992px) and (width < 1200px) {
  [class*='grid-xl-'] {
    grid-column: span 12;
  }
  .grid-xl-1 {
    grid-column: span 1;
  }
  .grid-xl-2 {
    grid-column: span 2;
  }
  .grid-xl-3 {
    grid-column: span 3;
  }
  .grid-xl-4 {
    grid-column: span 4;
  }
  .grid-xl-5 {
    grid-column: span 5;
  }
  .grid-xl-6 {
    grid-column: span 6;
  }
  .grid-xl-7 {
    grid-column: span 7;
  }
  .grid-xl-8 {
    grid-column: span 8;
  }
  .grid-xl-9 {
    grid-column: span 9;
  }
  .grid-xl-10 {
    grid-column: span 10;
  }
  .grid-xl-11 {
    grid-column: span 11;
  }
  .grid-xl-12 {
    grid-column: span 12;
  }
}
